DATABASE_URL="postgresql://postgres:postgres@localhost:5432/testx?schema=public"
API_HOST="0.0.0.0"
API_PORT="4000"
EVALUATOR_APP_URL="http://localhost:3000"
ADMIN_APP_URL="http://localhost:3001"
NEXT_PUBLIC_API_URL="http://localhost:4000"
